<!DOCTYPE html>
<html lang="ru">
<head>
    <partial name="_Head" />
    <title>@ViewData["Title"] | LedIce</title>
    <link rel="canonical" href="@ViewData["Canonical"]" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keyword"]" />
</head>

<body itemscope itemtype="https://schema.org/LocalBusiness">
    <header class="header">
        <partial name="_HeaderContent" />
    </header>

    <main class="container">
        @RenderBody()
    </main>
</body>
</html>
